.cabecalho__menu-hamburguer{
    width: 40px;
    height: 40px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer{
    background-image: url("../img/Menu\ Aberto.svg");
}

.container__botao:checked ~ .container__rotulo{
    background: var(--azul-gradiente);
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute; /* Aplica posicionamento em relação a classe pai, no caso o cabecalho */
    top: 100%;
    width: 60vw;    /* vw - viewport width em %*/ 
    
}

.container__botao:checked~.lista-menu{
    display: block;
}

.lista-menu__titulo, 
.lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}
.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link{
    background: var(--azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* -webkit faz com que a estilziação seja aplciada em outros navegadores*/
    background-clip: text; /* Aplica background color apenas no texto*/
    text-transform: uppercase;

}

.cabecalho__logo{
    padding:1em;
}

.container__botao{
    display: none;
}

.container__titulo, .opcoes{
    display: none;
}

.container__texto{
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo,
    .container__titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;

    }

    .container__titulo{
        display: block;
        font-weight: 400;

    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente, .cabecalho__menu-hamburguer{
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked~ .opcoes__rotulo> .opcoes__item{
        background: var(--azul-gradiente);
        color: var(--branco);
    }

    .opcoes__item{
        padding: 2em 1em;
    }

    .lista-menu__item:hover{
        background: var(--azul-gradiente);

    }

    .lista-menu__item:hover> .lista-menu__link{
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px){
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho{
        padding: 0 2em;
    }

    .opcoes{
        margin-right: auto;
    }

    .container__texto{
        display: block;
    }
}